/*GLOBAL*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,500;1,200;1,300&display=swap');


body{
	background-image: linear-gradient(to top, pink  0%, #cfd9df 2%, #E8F0F5 98%, pink  100%);
	width: 90%;
	margin:0 auto;
	font-family: work sans;
	color:#2A2A2A;
	line-height: 1.5rem;

}

.title2 {
	color:#2553A7;
}

 
 header {
margin-top:50px;
line-height: 2.8rem;
 }

header section.intro {
	width: 50%;
	float:left;
}

header section.intro .introwrap {
text-align: right;
padding:20px;
}

header h1 {
	font-size: 40px;
	color:#1ABC9C;
}



header img {
	filter: grayscale(100%);
	width: 50%;
	height: 50%;
	
	
	
}

main {
	clear:both;
}


.wrapper-outer {
	display:flex;

}

.wrapper-inner.story {
	width: 70%;
	padding-right: 4%;
	border-right:2px solid rgba(255, 255, 255, 0.3);
}

.wrapper-inner.story span:first-child {
	font-weight:bold;
}

.wrapper-inner.story author {
	font-style:italic;
	display: block;
	text-align: right;
}

.story article q.quote  {
	display: block;
	width: 50%;
	margin: 0 auto;
	font-size: 160%;	
	padding:30px 20px;
	border-radius:10px;
	border-left:3px dashed;
	font-style:italic;
	font-weight: 300;
	line-height: 1.8rem;


}

.story article q.vil.quote {
	border-color:#2553A7;
	background-color: rgba(37, 83, 167, 0.1);
}

.story article q.china.quote {
	border-color:#1ABC9C;
	background-color: rgba(26, 188, 156, 0.1);
}


.wrapper-inner aside p:first-child {
	text-align: justify;
}


table {
	width: 100%;
	height: 400px;
	border-collapse:collapse;
	border-radius:10px;
}



.wrapper-inner.table {
	width: 20%;
	margin: 0 auto;
	margin-right:0px;

}

.wrapper-inner table tr td {
	
		padding:10px;

}

.wrapper-inner table tr:first-child td:nth-child(even) {
	border-radius: 0px 10px 0px 0px;
}

.wrapper-inner table tr:first-child td:nth-child(odd) {
	border-radius: 10px 0px 0px 0px;
}

.wrapper-inner table tr:last-child td:nth-child(even) {
	border-radius: 0px 0px 10px 0px;
}

.wrapper-inner table tr:last-child td:nth-child(odd) {
	border-radius: 0px 0px 0px 10px;
}



.wrapper-inner table tr td:nth-child(2){
	border-left: 2px solid rgba(255, 255, 255, 0.5);

}



.wrapper-inner table tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.2);
}

.wrapper-inner table tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.5);
}

.wrapper-inner table tr:first-child{
	background-color: #2553A7;
	color:white;

}

.wrapper-inner table tr td:nth-child(odd) {
	width: 50%;
}

.wrapper-inner table tr td:nth-child(even) {
	width: 50%;
}

.wrapper-inner aside .caption{
	padding-top:10px; 
	font-style:italic;
}

.wrapper-inner article {
	text-align: justify;
}
.good {
	color:#1ABC9C;
	text-transform: uppercase;
}

.bad {
	color:#E64D06;
	text-transform: uppercase;
}

.good.contrast {
	color:#3AE4C2;
}

.bad.contrast {
	color:#FCBEA1;
}

footer {
	margin:60px;
	margin-left:0 auto;
}

footer section p {
	text-align: center;
}

footer a {
	color:#1ABC9C ;
}


@media  screen and (max-width: 800px) {

	 header {
margin-top:0px;
 }

	header section.intro {
	width: 100%;
}

header section.intro .introwrap {
text-align: center;
padding:20px;
}


	header img {
	width: 100%;
	
	
}


  .wrapper-outer {
	display:inherit;
}

.wrapper-inner.story {
	width: 100%;
	border:none;
}

.wrapper-inner.table {
	width: 100%;
	margin-left:0;

}
}
